{% autoescape %}
    <div class="joke-item" id="joke-{{ joke.id }}">
        <div class="joke-topbar">
            <div class="joke-vote">
                <a class="joke-knock-up" data-joke-id="{{joke.id}}">Knock up</a><span class="joke-knock-up-score"> (+{{joke.upVotes}})</span>
                <a class="joke-knock-down" data-joke-id="{{joke.id}}">Knock down</a><span class="joke-knock-down-score"> (-{{joke.downVotes}})</span>
            </div>
            <a href="/show/{{ joke.id }}" class="pull-right">#{{ joke.id }}</a>
        </div>
        <div class="joke-body">
            <div class="inner">
                {% for who in joke.whos %}
                    <p class="joke-knockknock bubble left {% if loop.index == 1 %}first-bubble{% endif %}">
                        Knock knock!
                    </p>
                    <p class="joke-who-there bubble right"><span class="btn show-more">Who's there?</span></p>
                    <p class="joke-who-answer bubble left">{{ who }}</p>
                    <p class="joke-who-who bubble right"><span class="btn show-more">{{ who }} who?</span></p>
                {% endfor %}
                <p class="joke-punchline bubble left">{{ joke.punchline }}</p>
            </div>
        </div>
        <div class="joke-controls">
            <div class="joke-who-when">
                Posted by <span class="joke-author">@{{joke.author}}</span>
                at <span class="joke-date">{{joke.createdAt|date("H:i A - m/d/Y", "America/New_York")}}</span>
            </div>
            <div class="addthis_toolbox addthis_default_style joke-social" addthis:url="http://meme.maxime-bury.fr/show/{{joke.id}}">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone plus-one-button" g:plusone:size="medium"></a>
            </div>
        </div>
    </div>
{% endautoescape %}